In [2]:
import pandas as pd

In [3]:
data_de_seattle = pd.read_csv('job_data_engineer_Seattle.csv')
data_de_ny = pd.read_csv('job_data_engineer_NYC.csv')
data_de_sf = pd.read_csv('job_data_engineer_sanfrancisco.csv')
data_ds_seattle = pd.read_csv('job_data_scientist_Seattle.csv')
data_ds_ny = pd.read_csv('job_data_scientist_NYC.csv')
data_ds_sf = pd.read_csv('job_data_scientist_sanfrancisco.csv')
data_da_seattle = pd.read_csv('job_data_analyst_Seattle.csv')
data_da_ny = pd.read_csv('job_data_analyst_NYC.csv')
data_da_sf = pd.read_csv('job_data_analyst_sanfrancisco.csv')

data = pd.concat([data_de_seattle, data_de_ny, data_de_sf, data_ds_seattle, data_ds_ny, data_ds_sf, data_da_seattle, data_da_ny, data_da_sf], ignore_index=True)
# Check for duplicates based on URLs
data.drop_duplicates(subset=['role', 'location', 'company'], inplace=True)
print(len(data))

2470

In [4]:
# Create new Column Job Type -> either Data Analyst, Engineer, Business INtelligence, Data Scientist, Machine LEarning, software development
#Assigning the job type to each row in the dataset
import re

patterns = {
    'DE': r'Data\s*Engineer',
    'DA': r'Data\s+.*?\s*(Analy(?:st|sis|tics|tic))\b(?:,)?',
    'BI': r'Business\s*Intelligence|BI',
    'DS': r'Data\s*Scientist|Data\s*Science',
    'SD': r'Software\s*(?:Development|Engineer)',
    'ML': r'Machine\s*Learning|ML',
    'RE': r'Researcher\s'
}

def assign_type(role):
    for job_type, pattern in patterns.items():
        if pd.notnull(role) and pd.notnull(pattern) and re.search(pattern, role, flags=re.IGNORECASE):
            return job_type
    return 'other'

# Apply the function to create the 'type' column
data['type'] = data['role'].apply(assign_type)

In [5]:
# Create new column to see Professional level (Director, Staff, Intern, Principal/Manager)
#Assigning the professional level to each row in the dataset
data['level'] = data['role'].apply(lambda x: 'DI' if 'Director' in x else
                                      ('ST' if 'Staff' in x else
                                      ('IN' if 'Intern' in x or 'Internship' in x else
                                      ('PR' if 'Principal' in x or 'Manager' in x else'normal'))))

In [6]:
# Create new column to see work schedule (on-site or hybrid)
#Assigning the professional level to each row in the dataset
data['schedule'] = data.apply(lambda row: 'on-site' if 'on-site' in str(row['location']).lower() or 'on-site' in str(row['description']).lower()
                              else ('hybrid' if 'hybrid' in str(row['location']).lower() or 'hybrid' in str(row['description']).lower()
                                    else ('remote' if 'remote' in str(row['location']).lower() or 'remote' in str(row['description']).lower()
                                          else 'NaN')), axis=1)

In [7]:
# extract salary range
# Extract salary range using regex and convert to strings
# Extract salary range using regex
salary_range = data['description'].str.extract(r'\$([\d,]+)[^\d\w]*([\d,]+)')

# Assign 'min' and 'max' columns
data['min_salary'] = salary_range[0]
data['max_salary'] = salary_range[1]

# Fill NaN values with 'NaN'
data['min_salary'].fillna('NaN', inplace=True)
data['max_salary'].fillna('NaN', inplace=True)

In [8]:
data.tail(50)

,url,company,location,role,description,applicants,post_days,type,level,schedule,min_salary,max_salary
2880,https://www.linkedin.com/jobs/view/3886477578/...,The Judge Group,"San Francisco, CA (On-site)",Data analyst with marketing analytics exp. (10...,\n \n About the job\n ...,100.0,5.0,DA,normal,on-site,50,00
2881,https://www.linkedin.com/jobs/view/3808324386/...,DataAnnotation,"Oakland, CA (Remote)",Data Analyst,\n \n About the job\n ...,100.0,3.0,DA,normal,remote,4,0
2882,https://www.linkedin.com/jobs/view/3808319594/...,DataAnnotation,"Santa Clara, CA (Remote)",Data Analyst,\n \n About the job\n ...,100.0,3.0,DA,normal,remote,4,0
2883,https://www.linkedin.com/jobs/view/3853055772/...,Adobe,"San Jose, CA",2024 SAMI Intern â€“ People Data Analyst,\n \n About the job\n ...,100.0,30.0,DA,IN,NaN,25,00
2884,https://www.linkedin.com/jobs/view/3879609175/...,Turn/River Capital,"San Francisco, CA","Revenue Operations, Data Analyst",\n \n About the job\n ...,100.0,5.0,DA,normal,hybrid,NaN,NaN
2885,https://www.linkedin.com/jobs/view/3817568279/...,TikTok,"San Jose, CA",Operations Data Analyst - Trust and Safety - S...,\n \n About the job\n ...,100.0,30.0,DA,normal,NaN,98400,232222
2886,https://www.linkedin.com/jobs/view/3895428803/...,Walmart,"San Bruno, CA","Senior, Data Analyst - Last Mile Transportatio...",\n \n About the job\n ...,100.0,3.0,DA,normal,NaN,"104,000",00
2888,https://www.linkedin.com/jobs/view/3589429366/...,TikTok,"San Jose, CA",TikTok Shop - Data Analyst,\n \n About the job\n ...,100.0,30.0,DA,normal,NaN,132187,312000
2893,https://www.linkedin.com/jobs/view/3886443473/...,Stanford University,"Stanford, CA (On-site)",Biostatistician 1,\n \n About the job\n ...,59.0,5.0,BI,normal,on-site,"91,00",0
2894,https://www.linkedin.com/jobs/view/3893244325/...,U.S. Air Force Reserve,San Francisco Bay Area (On-site),Data Analyst,\n \n About the job\n ...,100.0,3.0,DA,normal,on-site,"10,00",0
2895,https://www.linkedin.com/jobs/view/3855647367/...,TikTok,"Mountain View, CA","Data Analyst, Risk Data Mining - USDS",\n \n About the job\n ...,100.0,30.0,DA,normal,hybrid,86555,177777
2898,https://www.linkedin.com/jobs/view/3814505450/...,TikTok,"Mountain View, CA","Data Analyst, Payment Analytics - USDS",\n \n About the job\n ...,100.0,30.0,DA,normal,hybrid,106400,177777
2900,https://www.linkedin.com/jobs/view/3855178619/...,TikTok,"San Jose, CA",HR Operations Data Analyst - San Jose,\n \n About the job\n ...,100.0,30.0,DA,normal,NaN,72000,116000
2902,https://www.linkedin.com/jobs/view/3893931223/...,Rippling,"San Francisco, CA (Hybrid)",Senior Compensation & People Data Analyst,\n \n About the job\n ...,64.0,3.0,DA,normal,hybrid,1,2
2903,https://www.linkedin.com/jobs/view/3890896231/...,MatchPoint,San Francisco Bay Area (Remote),Lead Data Analyst,\n \n About the job\n ...,100.0,3.0,DA,normal,remote,NaN,NaN
2904,https://www.linkedin.com/jobs/view/3837397375/...,Notable,"San Mateo, CA",Data Analyst,\n \n About the job\n ...,100.0,30.0,DA,normal,NaN,10,5
2906,https://www.linkedin.com/jobs/view/3880131576/...,Kforce Inc,"San Jose, California, United States",Data Governance Analyst,\n \n About the job\n ...,77.0,7.0,DA,normal,NaN,40,70
2907,https://www.linkedin.com/jobs/view/3859662068/...,Adobe,"San Jose, CA",Senior Business Intelligence Analyst,\n \n About the job\n ...,100.0,28.0,BI,normal,NaN,"88,600","206,300"
2912,https://www.linkedin.com/jobs/view/3882258840/...,BlackRock,"San Francisco, CA (Hybrid)","Associate or Analyst, Data Engineering",\n \n About the job\n ...,100.0,7.0,DE,normal,hybrid,"132,500","157,500"
2913,https://www.linkedin.com/jobs/view/3888245705/...,Chime,"San Francisco, CA","Senior Data Analyst, Lifecycle Marketing",\n \n About the job\n ...,100.0,6.0,DA,normal,NaN,"148,50",0
2914,https://www.linkedin.com/jobs/view/3893416677/...,McAfee,"San Jose, CA (Remote)","Data Analyst, Pricing Team - Remote",\n \n About the job\n ...,100.0,4.0,DA,normal,remote,"79,310",00
2926,https://www.linkedin.com/jobs/view/3856264113/...,Doximity,San Francisco Bay Area (Remote),Business Intelligence Analyst,\n \n About the job\n ...,100.0,6.0,BI,normal,remote,4,3
2927,https://www.linkedin.com/jobs/view/3784870891/...,Doximity,San Francisco Bay Area (Remote),Data Analyst,\n \n About the job\n ...,100.0,30.0,DA,normal,remote,"110,000","150,000"
2932,https://www.linkedin.com/jobs/view/3877430012/...,Terrascope,"California, United States (Remote)",Carbon Data Analyst,\n \n About the job\n ...,100.0,7.0,DA,normal,remote,NaN,NaN
2933,https://www.linkedin.com/jobs/view/3881102276/...,Coherent Corp.,"Fremont, CA (On-site)",Reliability Data Analysis Intern,\n \n About the job\n ...,100.0,7.0,DA,IN,on-site,NaN,NaN
2934,https://www.linkedin.com/jobs/view/3808316870/...,DataAnnotation,"Mountain View, CA (Remote)",Data Analyst,\n \n About the job\n ...,100.0,3.0,DA,normal,remote,4,0
2935,https://www.linkedin.com/jobs/view/3861755041/...,San Francisco Health Plan,"San Francisco, CA (Hybrid)",Insights Data Analyst,\n \n About the job\n ...,100.0,21.0,DA,normal,hybrid,"82,000","91,000"
2936,https://www.linkedin.com/jobs/view/3886728394/...,Tesla,"Fremont, CA (On-site)","Internship, Data Analyst, Supply Chain (Fall 2...",\n \n About the job\n ...,100.0,6.0,DA,IN,on-site,16,35
2940,https://www.linkedin.com/jobs/view/3894612890/...,Genesys,"California, United States (Remote)",CS North America Insights Senior Analyst,\n \n About the job\n ...,31.0,2.0,other,normal,remote,"66,050",00
2942,https://www.linkedin.com/jobs/view/3850850554/...,Franklin Templeton,"California, United States (Remote)",Senior Investment Data Analyst,\n \n About the job\n ...,100.0,30.0,DA,normal,hybrid,"145,00",0
2950,https://www.linkedin.com/jobs/view/3885037602/...,Zolon Tech Inc.,"Cupertino, CA (Remote)",Data Analyst,\n \n About the job\n ...,100.0,7.0,DA,normal,remote,NaN,NaN
2952,https://www.linkedin.com/jobs/view/3872026336/...,Cardinal Health,"California, United States (Remote)",Data Analyst - Nationwide,\n \n About the job\n ...,100.0,14.0,DA,normal,remote,"78,500","112,100"
2955,https://www.linkedin.com/jobs/view/3897008633/...,BCforward,"Palo Alto, CA (On-site)",Data Annotation Analyst II,\n \n About the job\n ...,94.0,2.0,DA,normal,on-site,NaN,NaN
2964,https://www.linkedin.com/jobs/view/3871589603/...,ThredUp,"Oakland, CA","Data Analyst, Revenue",\n \n About the job\n ...,100.0,14.0,DA,normal,hybrid,"130,00",0
2969,https://www.linkedin.com/jobs/view/3871629687/...,Airbnb,"San Francisco, CA (Remote)","Lead Analyst, Advanced Analytics (contract)",\n \n About the job\n ...,100.0,14.0,other,normal,remote,72,86
2972,https://www.linkedin.com/jobs/view/3896984267/...,Snowflake,"San Mateo, CA",Senior Business Intelligence Analyst,\n \n About the job\n ...,100.0,2.0,BI,normal,NaN,"121,000","163,800"
2974,https://www.linkedin.com/jobs/view/3816707929/...,WayUp,"San Francisco, CA",Public Notice for Direct Hire (Data Modernizat...,\n \n About the job\n ...,2.0,60.0,other,normal,remote,NaN,NaN
2979,https://www.linkedin.com/jobs/view/3897359569/...,Central Garden & Pet,"Walnut Creek, CA (On-site)",Data & Analytics Analyst Intern,\n \n About the job\n ...,100.0,2.0,DA,IN,on-site,NaN,NaN
2982,https://www.linkedin.com/jobs/view/3881966017/...,Russell Tobin,"Sunnyvale, CA (On-site)",Data Analyst,\n \n About the job\n ...,100.0,7.0,DA,normal,on-site,4,5
2984,https://www.linkedin.com/jobs/view/3859478703/...,"Akraya, Inc.","Santa Clara, CA (Remote)",Data Analyst: 24-00724,\n \n About the job\n ...,100.0,14.0,DA,normal,remote,25,14
2989,https://www.linkedin.com/jobs/view/3788642888/...,Lyft,"San Francisco County, CA (Hybrid)","Data Analyst, Strategy & Diagnostics",\n \n About the job\n ...,100.0,28.0,DA,normal,hybrid,"100,000","115,000"
2990,https://www.linkedin.com/jobs/view/3881939863/...,Deloitte,"San Jose, CA (Hybrid)",People Analytics Visier Senior Consultant,\n \n About the job\n ...,12.0,7.0,other,normal,hybrid,"119,02",5
2995,https://www.linkedin.com/jobs/view/3777225813/...,Promise,"Oakland, CA (Hybrid)",Insights Analyst,\n \n About the job\n ...,100.0,30.0,other,normal,hybrid,5,0
3003,https://www.linkedin.com/jobs/view/3854738372/...,Deputy,"San Francisco, CA (Hybrid)",Data Analyst,\n \n About the job\n ...,100.0,30.0,DA,normal,hybrid,"118,000","126,480"
3015,https://www.linkedin.com/jobs/view/3897073155/...,Western Governors University,"San Francisco, CA (On-site)",Senior Data Analyst,\n \n About the job\n ...,21.0,2.0,DA,normal,on-site,"70,100",00
3031,https://www.linkedin.com/jobs/view/3845656519/...,FICO,"San Rafael, CA (Remote)",Analytic Consultant I,\n \n About the job\n ...,100.0,30.0,other,normal,remote,"100,00",0
3036,https://www.linkedin.com/jobs/view/3893322149/...,Braintrust,San Francisco Bay Area (Remote),Cyber Risk/ Data Analyst - US Only,\n \n About the job\n ...,65.0,4.0,DA,normal,remote,NaN,NaN
3037,https://www.linkedin.com/jobs/view/3830558462/...,Stripe,"San Francisco, CA (On-site)","Masters, Data Analyst Intern",\n \n About the job\n ...,100.0,60.0,DA,IN,on-site,"137,800","137,800"
3038,https://www.linkedin.com/jobs/view/3895436803/...,Square,"San Francisco, CA (Remote)","Senior Data Analyst, Square Banking",\n \n About the job\n ...,100.0,3.0,DA,normal,remote,"135,20",0
3039,https://www.linkedin.com/jobs/view/3863873275/...,US Tech Solutions,"San Francisco, CA (Remote)","Fraud/Risk Data Analyst (SQL, Snowflake",\n \n About the job\n ...,100.0,21.0,DA,normal,remote,NaN,NaN

In [9]:
import re
import pandas as pd

operational_skills = pd.read_csv('operational.csv')
packages_skills = pd.read_csv('packages.csv')
tech_skills = pd.read_csv('technologies.csv')


# Convert skills lists to lowercase
operational_skills['Skill'] = operational_skills['Skill'].str.lower()
packages_skills['Skill'] = packages_skills['Skill'].str.lower()
tech_skills['Skill'] = tech_skills['Skill'].str.lower()

# Combine all skill sets into a single set
all_skills_set = set(operational_skills['Skill']).union(set(packages_skills['Skill']), set(tech_skills['Skill']))

# Convert the combined set back to a list without duplicates
all_skills_list = list(all_skills_set)

# Create a new DataFrame to store the results
result_data = pd.DataFrame()
data['description'] = data['description'].str.lower()

# Apply the regular expression pattern to each description in the 'description' column
for skill in all_skills_list:
    if len(skill) == 1:
        pattern = r"\b{}\b".format(re.escape(skill))
    else:
        pattern = re.compile(re.escape(skill), flags=re.IGNORECASE)
    result_data[skill] = data['description'].apply(lambda row: 'yes' if re.findall(pattern, str(row)) else 'no')

# Concatenate the original data DataFrame with the result_data DataFrame
data = pd.concat([data, result_data], axis=1)

In [10]:
data.head(15)

,url,company,location,role,description,applicants,post_days,type,level,schedule,...,pandas,docker,julia,sass,grafana,scala,redshift,r,hive,lightgbm
0,https://www.linkedin.com/jobs/view/3830178037/...,Google,"Seattle, WA (On-site)","DÃ©veloppeur de solutions terrain III, IA gÃ©nÃ©r...",\n \n about the job\n ...,1.0,30.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,no,no
1,https://www.linkedin.com/jobs/view/3871458999/...,Adobe,"Seattle, WA",Senior ML Training GPU Optimization Engineer,\n \n about the job\n ...,10.0,14.0,ML,normal,NaN,...,no,yes,no,no,no,no,no,no,no,no
2,https://www.linkedin.com/jobs/view/3877281608/...,Amazon Web Services (AWS),"Seattle, WA","Sr. Physical Security Engineer, Data Center De...",\n \n about the job\n ...,0.0,14.0,other,normal,NaN,...,no,no,no,no,no,no,no,no,no,no
3,https://www.linkedin.com/jobs/view/3788649375/...,Google,"Kirkland, WA (On-site)","Principal Engineer, Query Processing, Spanner,...",\n \n about the job\n ...,69.0,30.0,other,PR,on-site,...,no,no,no,no,no,no,no,no,no,no
4,https://www.linkedin.com/jobs/view/3834018551/...,Google,"Seattle, WA (On-site)","DÃ©veloppeur de solutions terrain II, IA gÃ©nÃ©ra...",\n \n about the job\n ...,2.0,30.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,no,no
5,https://www.linkedin.com/jobs/view/3885905325/...,Castle Design Build,"Kirkland, WA (On-site)",Data Engineer,\n \n about the job\n ...,100.0,4.0,DE,normal,on-site,...,yes,no,no,no,no,no,no,no,no,no
6,https://www.linkedin.com/jobs/view/3813589257/...,Google,"Kirkland, WA (On-site)","Senior Staff Software Engineer, Machine Learni...",\n \n about the job\n ...,29.0,30.0,SD,ST,on-site,...,no,no,no,no,no,no,no,no,no,no
7,https://www.linkedin.com/jobs/view/3891072619/...,Centillion Infotech LLC,"Bellevue, WA (On-site)",Data Engineer II,\n \n about the job\n ...,100.0,4.0,DE,normal,on-site,...,no,no,no,no,no,no,yes,no,no,no
8,https://www.linkedin.com/jobs/view/3851220242/...,Adobe,"Seattle, WA",Sr. Full Stack Engineer - Typographic Intellig...,\n \n about the job\n ...,62.0,30.0,other,normal,NaN,...,no,no,no,no,no,yes,no,yes,no,no
9,https://www.linkedin.com/jobs/view/3877281376/...,Amazon Web Services (AWS),"Seattle, WA","Sr. Business Intelligence Engineer, Partner In...",\n \n about the job\n ...,15.0,14.0,BI,normal,NaN,...,no,no,no,no,no,no,no,no,no,no
10,https://www.linkedin.com/jobs/view/3872003310/...,Tata Consultancy Services,"Bellevue, WA (On-site)",Data Engineer Lead,\n \n about the job\n ...,30.0,14.0,DE,normal,on-site,...,no,no,no,no,no,no,no,no,no,no
11,https://www.linkedin.com/jobs/view/3877274974/...,Amazon Web Services (AWS),"Seattle, WA","Business Intelligence Engineer, Next Generatio...",\n \n about the job\n ...,15.0,14.0,BI,normal,NaN,...,no,no,no,no,no,no,no,no,no,no
12,https://www.linkedin.com/jobs/view/3829551165/...,Oracle,"Seattle, WA (Hybrid)","Data Center-Electrical Engineer (build, commis...",\n \n about the job\n ...,100.0,21.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,no,no
13,https://www.linkedin.com/jobs/view/3843622508/...,Qualtrics,"Seattle, WA (On-site)",Staff Machine Learning Engineer/Architect,\n \n about the job\n ...,76.0,30.0,ML,ST,on-site,...,no,no,no,no,no,yes,no,yes,no,no
14,https://www.linkedin.com/jobs/view/3879390207/...,Amazon Web Services (AWS),"Bellevue, WA","Business Intelligence Engineer, Data Services ...",\n \n about the job\n ...,46.0,7.0,DA,normal,NaN,...,no,no,no,no,no,yes,yes,yes,no,no

In [11]:
# Assuming your dataframe is named 'df' and the column is named 'Location'
data['city'] = [location.split(',')[0].strip() if ',' in location else 'remote' for location in data['location']]
data['state'] = [location.split(',')[1].strip() if ',' in location else 'remote' for location in data['location']]
#remove hybrid and remote
data['state'] = data['state'].str.replace('(On-site)', '').str.replace('(Hybrid)', '')
#data[['city', 'state']] = data[['city', 'state']].fillna('remote')

In [12]:
data.head(50)

,url,company,location,role,description,applicants,post_days,type,level,schedule,...,julia,sass,grafana,scala,redshift,r,hive,lightgbm,city,state
0,https://www.linkedin.com/jobs/view/3830178037/...,Google,"Seattle, WA (On-site)","DÃ©veloppeur de solutions terrain III, IA gÃ©nÃ©r...",\n \n about the job\n ...,1.0,30.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
1,https://www.linkedin.com/jobs/view/3871458999/...,Adobe,"Seattle, WA",Senior ML Training GPU Optimization Engineer,\n \n about the job\n ...,10.0,14.0,ML,normal,NaN,...,no,no,no,no,no,no,no,no,Seattle,WA
2,https://www.linkedin.com/jobs/view/3877281608/...,Amazon Web Services (AWS),"Seattle, WA","Sr. Physical Security Engineer, Data Center De...",\n \n about the job\n ...,0.0,14.0,other,normal,NaN,...,no,no,no,no,no,no,no,no,Seattle,WA
3,https://www.linkedin.com/jobs/view/3788649375/...,Google,"Kirkland, WA (On-site)","Principal Engineer, Query Processing, Spanner,...",\n \n about the job\n ...,69.0,30.0,other,PR,on-site,...,no,no,no,no,no,no,no,no,Kirkland,WA
4,https://www.linkedin.com/jobs/view/3834018551/...,Google,"Seattle, WA (On-site)","DÃ©veloppeur de solutions terrain II, IA gÃ©nÃ©ra...",\n \n about the job\n ...,2.0,30.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
5,https://www.linkedin.com/jobs/view/3885905325/...,Castle Design Build,"Kirkland, WA (On-site)",Data Engineer,\n \n about the job\n ...,100.0,4.0,DE,normal,on-site,...,no,no,no,no,no,no,no,no,Kirkland,WA
6,https://www.linkedin.com/jobs/view/3813589257/...,Google,"Kirkland, WA (On-site)","Senior Staff Software Engineer, Machine Learni...",\n \n about the job\n ...,29.0,30.0,SD,ST,on-site,...,no,no,no,no,no,no,no,no,Kirkland,WA
7,https://www.linkedin.com/jobs/view/3891072619/...,Centillion Infotech LLC,"Bellevue, WA (On-site)",Data Engineer II,\n \n about the job\n ...,100.0,4.0,DE,normal,on-site,...,no,no,no,no,yes,no,no,no,Bellevue,WA
8,https://www.linkedin.com/jobs/view/3851220242/...,Adobe,"Seattle, WA",Sr. Full Stack Engineer - Typographic Intellig...,\n \n about the job\n ...,62.0,30.0,other,normal,NaN,...,no,no,no,yes,no,yes,no,no,Seattle,WA
9,https://www.linkedin.com/jobs/view/3877281376/...,Amazon Web Services (AWS),"Seattle, WA","Sr. Business Intelligence Engineer, Partner In...",\n \n about the job\n ...,15.0,14.0,BI,normal,NaN,...,no,no,no,no,no,no,no,no,Seattle,WA
10,https://www.linkedin.com/jobs/view/3872003310/...,Tata Consultancy Services,"Bellevue, WA (On-site)",Data Engineer Lead,\n \n about the job\n ...,30.0,14.0,DE,normal,on-site,...,no,no,no,no,no,no,no,no,Bellevue,WA
11,https://www.linkedin.com/jobs/view/3877274974/...,Amazon Web Services (AWS),"Seattle, WA","Business Intelligence Engineer, Next Generatio...",\n \n about the job\n ...,15.0,14.0,BI,normal,NaN,...,no,no,no,no,no,no,no,no,Seattle,WA
12,https://www.linkedin.com/jobs/view/3829551165/...,Oracle,"Seattle, WA (Hybrid)","Data Center-Electrical Engineer (build, commis...",\n \n about the job\n ...,100.0,21.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
13,https://www.linkedin.com/jobs/view/3843622508/...,Qualtrics,"Seattle, WA (On-site)",Staff Machine Learning Engineer/Architect,\n \n about the job\n ...,76.0,30.0,ML,ST,on-site,...,no,no,no,yes,no,yes,no,no,Seattle,WA
14,https://www.linkedin.com/jobs/view/3879390207/...,Amazon Web Services (AWS),"Bellevue, WA","Business Intelligence Engineer, Data Services ...",\n \n about the job\n ...,46.0,7.0,DA,normal,NaN,...,no,no,no,yes,yes,yes,no,no,Bellevue,WA
15,https://www.linkedin.com/jobs/view/3868956021/...,Microsoft,"Redmond, WA",Principal Machine Learning Engineer â€“ Foundati...,\n \n about the job\n ...,18.0,14.0,ML,PR,NaN,...,no,no,no,yes,no,no,no,no,Redmond,WA
16,https://www.linkedin.com/jobs/view/3846235636/...,Adobe,"Seattle, WA",Sr ML Training GPU Optimization Engineer,\n \n about the job\n ...,17.0,30.0,ML,normal,NaN,...,no,no,no,no,no,no,no,no,Seattle,WA
17,https://www.linkedin.com/jobs/view/3880443699/...,Booz Allen Hamilton,"Seattle, WA (Hybrid)",Enterprise Reporting Tableau Developer,\n \n about the job\n ...,43.0,7.0,other,normal,hybrid,...,no,no,no,no,no,no,no,no,Seattle,WA
18,https://www.linkedin.com/jobs/view/3836174020/...,Adobe,"Seattle, WA","Senior Machine Learning Engineer, Firefly",\n \n about the job\n ...,73.0,30.0,ML,normal,NaN,...,no,no,no,yes,no,no,no,no,Seattle,WA
19,https://www.linkedin.com/jobs/view/3835349699/...,Rokt,"Seattle, WA (Hybrid)",Staff Machine Learning Engineer - Seattle,\n \n about the job\n ...,100.0,14.0,ML,ST,hybrid,...,no,no,no,no,no,no,no,no,Seattle,WA
20,https://www.linkedin.com/jobs/view/3877287179/...,Amazon,"Seattle, WA","Data Engineer, Amazon Prime",\n \n about the job\n ...,100.0,14.0,DE,normal,NaN,...,no,no,no,yes,yes,no,no,no,Seattle,WA
21,https://www.linkedin.com/jobs/view/3869776863/...,DermaSkan,United States (Remote),Data Scientist/Machine Learning Engineer,\n \n about the job\n ...,100.0,14.0,DS,normal,remote,...,no,no,no,no,no,no,no,no,remote,remote
22,https://www.linkedin.com/jobs/view/3868958063/...,Microsoft,"Redmond, WA (Hybrid)",Principal Research Software Engineer,\n \n about the job\n ...,8.0,14.0,SD,PR,hybrid,...,no,no,no,no,no,no,no,no,Redmond,WA
23,https://www.linkedin.com/jobs/view/3868952174/...,Microsoft,"Redmond, WA (Hybrid)",Senior Storage Engineer,\n \n about the job\n ...,29.0,14.0,other,normal,hybrid,...,no,no,no,no,no,no,no,no,Redmond,WA
24,https://www.linkedin.com/jobs/view/3865042314/...,Pacific Northwest National Laboratory,"Seattle, WA (On-site)",AI Software Engineer 3 â€“ Seattle,\n \n about the job\n ...,56.0,21.0,SD,normal,on-site,...,no,no,no,yes,yes,no,no,no,Seattle,WA
25,https://www.linkedin.com/jobs/view/3867115638/...,Google,"Seattle, WA (Hybrid)","Senior Staff Software Engineer, Machine Learni...",\n \n about the job\n ...,4.0,21.0,SD,ST,hybrid,...,no,no,no,no,no,no,no,no,Seattle,WA
26,https://www.linkedin.com/jobs/view/3846998664/...,Google,"Seattle, WA (On-site)","Staff Software Engineer, Infrastructure, Googl...",\n \n about the job\n ...,17.0,30.0,SD,ST,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
27,https://www.linkedin.com/jobs/view/3861153589/...,Google,"Seattle, WA (On-site)","Staff Software Engineer, Generative AI, Chrome...",\n \n about the job\n ...,11.0,21.0,SD,ST,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
28,https://www.linkedin.com/jobs/view/3856838669/...,Google,"Seattle, WA (On-site)","Senior Software Engineer, Google Cloud Compute...",\n \n about the job\n ...,52.0,30.0,SD,normal,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
29,https://www.linkedin.com/jobs/view/3823073855/...,Adobe,"Seattle, WA",Senior Machine Learning Engineer,\n \n about the job\n ...,100.0,21.0,ML,normal,NaN,...,no,no,no,yes,no,no,no,no,Seattle,WA
30,https://www.linkedin.com/jobs/view/3877282725/...,Amazon Web Services (AWS),"Seattle, WA","Data Engineer, AWS Energy Team",\n \n about the job\n ...,100.0,14.0,DE,normal,NaN,...,no,no,no,no,yes,no,no,no,Seattle,WA
31,https://www.linkedin.com/jobs/view/3877274090/...,Amazon Web Services (AWS),"Seattle, WA","Software Engineer- AI/ML, AWS Neuron Distribut...",\n \n about the job\n ...,13.0,14.0,SD,normal,NaN,...,no,no,no,no,no,no,no,no,Seattle,WA
32,https://www.linkedin.com/jobs/view/3863973517/...,GeoComply,"Seattle, WA (On-site)",Business Intelligence Engineer (Seattle),\n \n about the job\n ...,100.0,21.0,BI,normal,on-site,...,no,no,no,no,yes,no,no,no,Seattle,WA
33,https://www.linkedin.com/jobs/view/3863363592/...,Adobe,"Seattle, WA","Sr. Software Engineer, Adobe Analytics Platform",\n \n about the job\n ...,100.0,21.0,SD,normal,NaN,...,no,no,yes,yes,no,no,no,no,Seattle,WA
34,https://www.linkedin.com/jobs/view/3873208033/...,Tata Consultancy Services,"Seattle, WA (Hybrid)",AWS Data Engineer,\n \n about the job\n ...,100.0,14.0,DE,normal,hybrid,...,no,no,no,no,no,no,no,no,Seattle,WA
35,https://www.linkedin.com/jobs/view/3812929373/...,Meta,"Redmond, WA","Data Engineer, Analytics",\n \n about the job\n ...,100.0,21.0,DE,normal,NaN,...,no,no,no,no,no,no,no,no,Redmond,WA
36,https://www.linkedin.com/jobs/view/3891615419/...,Boomi,United States (Remote),"Jr. Data Engineer Intern (Summer 2024, Hybrid)",\n \n about the job\n ...,100.0,6.0,DE,IN,remote,...,no,no,no,no,no,no,no,no,remote,remote
37,https://www.linkedin.com/jobs/view/3873759174/...,Microsoft,"Redmond, WA (Hybrid)",Principal Software Engineer,\n \n about the job\n ...,5.0,14.0,SD,PR,hybrid,...,no,no,no,no,no,no,no,no,Redmond,WA
38,https://www.linkedin.com/jobs/view/3804673419/...,Equinix,"Seattle, WA (On-site)",DoD Military Skillbridge - Data Center Facilit...,\n \n about the job\n ...,19.0,28.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
39,https://www.linkedin.com/jobs/view/3882205343/...,Warner Bros. Discovery,"Bellevue, WA (On-site)",Senior Staff Software Engineer - Machine Learn...,\n \n about the job\n ...,26.0,7.0,SD,ST,on-site,...,no,no,no,yes,no,no,no,no,Bellevue,WA
40,https://www.linkedin.com/jobs/view/3843749064/...,Snap Inc.,"Bellevue, WA",Business Intelligence Engineer,\n \n about the job\n ...,100.0,30.0,BI,normal,NaN,...,no,no,no,yes,no,yes,no,no,Bellevue,WA
41,https://www.linkedin.com/jobs/view/3773738819/...,Duolingo,"Seattle, WA (On-site)",Client Release Engineer,\n \n about the job\n ...,100.0,30.0,other,normal,on-site,...,no,no,no,no,no,no,no,no,Seattle,WA
42,https://www.linkedin.com/jobs/view/3880453817/...,Amazon,"Seattle, WA","Data Engineer I, Intl. Seller Growth",\n \n about the job\n ...,100.0,7.0,DE,normal,NaN,...,no,no,no,yes,no,no,yes,no,Seattle,WA
43,https://www.linkedin.com/jobs/view/3877271203/...,Amazon Games,"Seattle, WA","Data Engineer II - Data & AI, Amazon Games",\n \n about the job\n ...,56.0,14.0,DE,normal,NaN,...,no,no,no,no,yes,no,no,no,Seattle,WA
44,https://www.linkedin.com/jobs/view/3882999613/...,Meta,"Bellevue, WA",Data Engineer,\n \n about the job\n ...,100.0,7.0,DE,normal,NaN,...,no,no,no,yes,yes,no,yes,no,Bellevue,WA
45,https://www.linkedin.com/jobs/view/3863973516/...,GeoComply,"Seattle, WA (On-site)",Data Engineer (Seattle),\n \n about the job\n ...,100.0,21.0,DE,normal,on-site,...,no,no,no,yes,no,no,no,no,Seattle,WA
46,https://www.linkedin.com/jobs/view/3868958147/...,Microsoft,"Redmond, WA (Hybrid)",Senior Research Engineer â€“ Generative AI â€“ Mic...,\n \n about the job\n ...,25.0,14.0,other,normal,hybrid,...,no,no,no,no,no,no,no,no,Redmond,WA
47,https://www.linkedin.com/jobs/view/3812923857/...,Meta,"Bellevue, WA","Data Engineer, Analytics",\n \n about the job\n ...,100.0,21.0,DE,normal,NaN,...,no,no,no,no,no,no,no,no,Bellevue,WA
48,https://www.linkedin.com/jobs/view/3868958107/...,Microsoft,"Redmond, WA (Hybrid)",Research Software Engineer II,\n \n about the job\n ...,52.0,14.0,SD,normal,hybrid,...,no,no,no,no,no,no,no,no,Redmond,WA
49,https://www.linkedin.com/jobs/view/3897766871/...,"Aretec, Inc.",United States (Remote),Data Engineer,\n \n about the job\n ...,100.0,7.0,DE,normal,remote,...,no,no,no,no,no,no,no,no,remote,remote

In [17]:
data['state'] = data['state'].apply(lambda x: 'CA' if 'CA' in x or 'California' in x else x)
data['state'] = data['state'].apply(lambda x: 'NY' if 'NY' in x or 'New York' in x else x)
data['state'] = data['state'].apply(lambda x: 'remote' if 'remote' in x or 'United States' in x else x)
data['state'] = data['state'].apply(lambda x: 'WA' if 'WA' in x or 'Washington' in x else x)

data['city'] = data['city'].apply(lambda x: 'New York' if 'New York' in x else x)
data['city'] = data['city'].apply(lambda x: 'San Francisco' if 'San Francisco' in x else x)

In [18]:
data.to_csv('LI_Data_Jobs.csv', index=False)